# This file was originally managed centrally by release-tools but has been
# locally modified and is no longer in sync with the central management system.
#

# Functional Test Requirements (let Zaza's dependencies solve all dependencies here!)
zaza==2024.*
git+https://github.com/openstack-charmers/zaza-openstack-tests.git@stable/bobcat#egg=zaza.openstack

setuptools<82.0.0
git+https://github.com/juju/charm-tools.git
